.blogSummary,
.fullBlogPost {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin-left: 10%;
	font-size: 1.2 * $em;
	line-height: 1.7 * $em;
	margin-top: 2.75 * $em;
	h1 {
		color: $secondary-color;
		margin-bottom: 0px;
		font-size: 1.8 * $em;
	}
	h5 {
		margin-bottom: .2 * $em;
	}
	@media only screen and (min-width : $med-screen) {
		width: 70%;
		margin-left: 15%;
	}
}

.fullBlogPost {
	p{
		align-self: flex-start;
	}
}

.blogSummary {
	border-bottom: 5px solid $primary-color;
	p {
		margin-top: 2.5 * $em;
		margin-bottom: 3 * $em;
	}
}

.blogTags {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	// Justify-content: center;
	li {
		margin-right: 10px;
	}
}

.headerParagraph {
	padding-left: $em;
	border-left: 5px solid $primary-color;
	font-size: 1.5 * $em;
	line-height: 2 * $em;
}

.blogHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2 * $em;
	background: $tertiary-color;
	color: $secondary-color;
	img {
		width: 15%;
		border-radius: 30%;
		border: 5px solid $primary-color;
		padding-right: $em;
	}
}