/*Homepage styles*/
.tileHolder {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	@media only screen and (min-width : $med-screen) {
		flex-direction: row;
		flex-wrap: wrap;
	}
	&>div {
		min-height: 250px;
		width: 50%;
		height: 35vh;
		border: $thin-border;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		background: linear-gradient(0deg, $primary-color, $tertiary-color);
		font-size: 1.8 * $em;
		a {
			color: $primary-text-color;
			text-decoration: none;
		}
		&:hover {
			box-shadow: $box-shadow;
			.fa {
				font-size: 2.5 * $em;	
			}
		}
		@media only screen and (min-width : $med-screen) {
			width: 33.3333%;
			height: 45vh;
			min-height: 300px;
			.fa {
				padding-right: 20px;
			}
		}
	}
	
	& div:nth-child(2) {
		background: $tertiary-color;
		order: -1;
		cursor: auto;
		font-size: $em;
		width: 100%;
		flex-direction: column;
		@media only screen and (min-width : $med-screen) {
			order: 0;
			width: 66.6666%;
		}
	}
	
	.bookContainer {
		background: linear-gradient(rgba($tertiary-color, .3), rgba($tertiary-color, .3)), url('/img/dronedebate.jpg');
		background-size: cover;
	}
}

.homeInfoBox {
	display: flex;
	justify-content: center;
	min-height: 300px;
	&>div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 80%;
		padding: 5% 0%;
	}
	@media only screen and (min-width : $med-screen) {
		h2 {
			font-size: 2 * $em;
		}
	}
}

.aboutBox {
	background: $secondary-color;
	border-top: $thick-border;
	border-bottom: $thick-border;
	p {
		line-height: 1.5 * $em;
	}
}

.portfolioOuterBox {
	background: $primary-color;
	.portfolioWrapper {
		width: 100%;
	}	
}

.portfolioWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	.toolsUsed {
		display: flex;
		flex-flow: row wrap;
		Justify-content: space-around;
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			background: $secondary-color;
			border-radius: 20%;
			border: $thin-border;
			padding: 8px;
			margin: 0 5px 5px;
		}
	}
}

.portfolioItem {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	border: $thin-border;
	background: linear-gradient(0deg, $secondary-color, $tertiary-color);
	margin-bottom: 5vh;
	&>div {
		width: 90%;
	}
	&>footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&:hover {
		box-shadow: $box-shadow;		
	}
	@media only screen and (min-width : $med-screen) {
		width: 45%;
	}
}





