/*Homepage styles*/
.tileHolder {
	display: flex;
	width: 100%;
	flex-direction: column;
	@media only screen and (min-width : $med-screen) {
		flex-direction: row;
		flex-wrap: wrap;
	}
	&>div {
		min-height: 300px;
		height: 45vh;
		border: $thin-border;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		background: $tertiary-color;
		font-size: 1.8 * $em;
		a {
			color: $primary-text-color;
			text-decoration: none;
		}
		&:hover {
			box-shadow: inset 0px -5px 15px -2px $accent-color;
			.fa {
				font-size: 2.5 * $em;	
			}
		}
		@media only screen and (min-width : $med-screen) {
			width: 33.3333%;
		}
		.fa {
			padding-right: 20px;
		}
	}
	
	& div:nth-child(2) {
		background: $tertiary-color;
		order: -1;
		cursor: auto;
		font-size: $em;
		flex-direction: column;
		@media only screen and (min-width : $med-screen) {
			order: 0;
			width: 66.6666%;
		}
	}
	
	.bookContainer {
		background-image: url('/img/dronedebate.jpg');
		background-size: cover;
	}
	
}

.homeInfoBox {
	display: flex;
	justify-content: center;
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		min-height: 350px;
		width: 80%;
	}
}

.aboutBox {
	background: $secondary-color;
	border-top: $thick-border;
	border-bottom: $thick-border;
	h2 {
		font-size: 2 * $em;
	}
}

.contactBox {
	margin-bottom: 100px;
	background: $primary-color;
	
}


