/* Base Styles -------------------- */
* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

.tile {
  height: 300px;
}

.text {
  color: $primary-text-color;
}

.alt-text {
  font-family: 'Droid Serif', serif;
}
