/* Base Styles -------------------- */
* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

.tile {
  height: 300px;
}

.text {
  color: $primary-text-color;
}

.altText {
  font-family: 'Droid Serif', serif;
}

.lightText {
  color: $text-primary-color;
}
