$primary-color: #607D8B;
$secondary-color: #455A64;
$tertiary-color: #CFD8DC;
$text-primary-color: #FFFFFF;
$accent-color: #536DFE;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;
$em: 16px;

//Borders
$thin-border: 1px solid $divider-color;
$thick-border: 7px solid $divider-color;

//breakpoints
$med-screen: 770px;

//box shadows
$box-shadow: inset 0px -5px 15px -2px $accent-color;
