<div class="portfolioOuterBox homeInfoBox">
    <div>
        <h2 class="lightText">Sites that I have built</h2>
        <div class="portfolioWrapper">
            <div ng-repeat="project in vm.portfolio" class="portfolioItem">
                <header class="portfolioItemTitles">
                    <h4>{{project.title}}</h4>
                </header>
                <div class="portfolioItemImage">
                    <a href="{{project.link}}"><img class="fillContainerWidth" src="{{project.imageSrc}}" alt="{{project.imageAlt}}"></a>
                </div>
                <footer class="portfolioItemDetails lightText">
                    <h5 class="altText pointer" ng-click="project.showTools = !project.showTools"><i class="fa" ng-class="project.showTools ? 'fa-chevron-up' : 'fa-chevron-down'"></i> Tools that were used:</h5>
                    <ul ng-show="project.showTools" class="toolsUsed">
                        <li ng-repeat="tool in project.tools">{{tool}}</li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
</div>